body {
    margin: 200px auto;
    text-align: center;
    width: 550px;
    height: 550px;
    background-color: #1F2937;    ;
    align-items: center;
    border: 1px none #234121;
    color: white;
  
}
h1{
    color: white;
    width: 354px;
    height: 80px;
    top: 115px;
    left: 52px;
}
span{
    line-break:normal ;
    color: #4ADF86 ;

}
.linebreak{

border: 1px solid #2F3E53 ;
width: 446px;
height: 0px;
left: 52px;
top: 361px;
}
#password-one {
    background: #273549;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin: 10px auto;
}

#password-two {
    background: #273549;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin: 10px auto;
}